@charset "UTF-8";

/* menu.css */

/* 모든 <ul> 태그에 적용 */
ul{
	margin-top:0;
	padding:0;
	list-style:none;  /* type 없음 */
}

/********** TOP MENU **********/
#topMenuBox {
	float:right; /*오른쪽 정렬 */
	font-weight:bold;
	padding-right:10px;
}

/********** MAIN MENU **********/

#mainMenuBox{
	width:1280px;
	height:35px; 
	line-height:35px; 	/* 줄 간격 - 수직으로 가운데 정렬 효과 */
	background-color:#ffffff;		/* white */
	z-index:10; /* 스크롤 시 위에 오도록 */
	border-top: solid #CCC 1px;
	border-bottom: solid #CCC 1px;
}	

#mainMenuBox ul{	
	margin:0;
}

#mainMenuBox li{
	float:left;	/* 한 줄로 왼쪽 정렬 */
	text-align:center;
	width:25%;	 /* 항목 동일한 너비로 */
	height:30px;
	line-height:30px; 
}
	
#mainMenuBox li:first-child{	 /* 첫 번째 메뉴 항목 */
	width:24%;		/* 20%이지만 border 때문에 19%로 */
	border:solid 3px black;
}

#mainMenuBox ul li a{
	text-decoration:none; /* <a> 태그 밑줄 없애기 */
	color:black; /* 글자색 */
	font-size:14px;
	font-weight:bold;
}

#mainMenuBox  ul li a:hover{ /* 각 메뉴 항목에 마우스 올렸을 때 */
	color:red; /* 글자색 빨강 */	
}	

/********** SUB MENU **********/

#subMenuBox{ 		
	width:1280px;
	height:160px;
	background-color:white;
	text-align:center; 
	z-index:10; /* 슬라이드쇼 박스 위로 드롭다운 하도록*/
	padding-bottom:0;
	position:absolute;
	visibility:hidden; /* 시작 시 SUB 메뉴 항목 숨김 */
}

.subMenuItem { 
	width:25%; 	
	background-color:white;
	border-left:solid #CCC 1px;
	border-right:solid #CCC 1px;
	margin-top:10px;
}

/* 첫 번째 서브메뉴항목 (왼쪽에서 5% 위치) */
#subMenuItem1	{ 
	position:absolute;
	margin-left:5%;
}

#subMenuItem2	{ 
	position:absolute;
	margin-left:25%;
}

#subMenuItem3	{ 
	position:absolute;
	margin-left:50%;
}

#subMenuItem4	{ 
	position:absolute;
	margin-left:75%;
}
	
.subMenuItem ul{
	background-color:white;	
}

.subMenuItem ul li{
	height:35px;
	line-height:35px;
}

.subMenuItem li a{
	display:inline-block;
	color:#333333;	
	text-decoration:none;	
}

.subMenuItem a:hover{
	background-color:white;
	text-decoration:underline;
	color:black;	
}

/********** BOTTOM MENU **********/

#bottomMenuBox{
	height:30px; 
	line-height:30px;  	
}

#bottomMenuBox li{
	display:inline-block;	
	text-align:center;	
	padding:5px;	
}

#bottomMenuBox a {		
	color:white;
	font-weight:bold;	 	
	text-decoration:none;		
}


